## 1-Tuple
- Ordered collection of elements
- enclosed in () Bracket/parenthesis
- different kind of elements can be stored
- once elements are store you can not change them

In [1]:
tup1={1,"python",True, 2.5}
tup1

{1, 2.5, 'python'}

In [2]:
# types of a tuple
type(tup1)

set

In [3]:
tup=(1,"python",True, 2.5)
tup

(1, 'python', True, 2.5)

In [4]:
type(tup)

tuple

In [6]:
tup[1]

'python'

In [7]:
tup[2]

True

In [10]:
# last element is exclusive
tup[0:4]

(1, 'python', True, 2.5)

In [11]:
len(tup)

4

In [23]:
tup2=(2,"BabaNasir",3.9, False)
tup2

(2, 'BabaNasir', 3.9, False)

In [24]:
# cancatinate tuples two or mother
tup + tup2

(1, 'python', True, 2.5, 2, 'BabaNasir', 3.9, False)

In [25]:
tup*2+tup2

(1, 'python', True, 2.5, 1, 'python', True, 2.5, 2, 'BabaNasir', 3.9, False)

In [28]:
tup2=(20,40,60,90,79,85)
tup2

(20, 40, 60, 90, 79, 85)

In [30]:
min(tup2)

20

In [31]:
max(tup2)

90


## why other operator arithematic not allowed to use with tuple except *
## Assignemt for checking other arithmatic operatos +,-,/,%

In [33]:
tup2*4

(20,
 40,
 60,
 90,
 79,
 85,
 20,
 40,
 60,
 90,
 79,
 85,
 20,
 40,
 60,
 90,
 79,
 85,
 20,
 40,
 60,
 90,
 79,
 85)

---

## 2 -List 
- order collection of elements
- enclosed with [square bracket]
- Mutable ,you can change the values

In [34]:
list1=[2, "babaAamar",False]
list1

[2, 'babaAamar', False]

In [35]:
type(list1)

list

In [36]:
len(list1)

3

In [38]:
list1[2]

False

In [39]:
list2=[3,5,"Aamar","codanics",478,53.2,False]
list2

[3, 5, 'Aamar', 'codanics', 478, 53.2, False]

In [40]:
list1+list2

[2, 'babaAamar', False, 3, 5, 'Aamar', 'codanics', 478, 53.2, False]

In [41]:
list1*2

[2, 'babaAamar', False, 2, 'babaAamar', False]

In [42]:
list1

[2, 'babaAamar', False]

In [43]:
list1.reverse()

In [44]:
list1

[False, 'babaAamar', 2]

In [45]:
list1.append("Codanics Youtube Channel")
list1

[False, 'babaAamar', 2, 'Codanics Youtube Channel']

In [46]:
list1.count()

TypeError: list.count() takes exactly one argument (0 given)

In [47]:
list3=[20,40,30,35,60,350,882,11,10]
list3

[20, 40, 30, 35, 60, 350, 882, 11, 10]

In [48]:
len(list3)

9

In [49]:
list3.sort()
list3

[10, 11, 20, 30, 35, 40, 60, 350, 882]

In [50]:
list3.count()
list3

TypeError: list.count() takes exactly one argument (0 given)

In [51]:
list3*2

[10, 11, 20, 30, 35, 40, 60, 350, 882, 10, 11, 20, 30, 35, 40, 60, 350, 882]

In [53]:
lists=list1+list2
lists

[False,
 'babaAamar',
 2,
 'Codanics Youtube Channel',
 3,
 5,
 'Aamar',
 'codanics',
 478,
 53.2,
 False]

## 3- Dictionary
- un ordered collection of elements
- keys and values
- curly braces are use for Dictionary {}
- Changeable also called mutatable

In [55]:
# food and their prices keys and values
food1={ "Samosa":30,"Pakora":100,"Kabab":150,"Raita":80,"Salad":50,"Chicken Roll":50}
food1

{'Samosa': 30,
 'Pakora': 100,
 'Kabab': 150,
 'Raita': 80,
 'Salad': 50,
 'Chicken Roll': 50}

In [56]:
type(food1)

dict

In [58]:
#extract data
keys=food1.keys()
keys

dict_keys(['Samosa', 'Pakora', 'Kabab', 'Raita', 'Salad', 'Chicken Roll'])

In [60]:
values=food1.values()
values

dict_values([30, 100, 150, 80, 50, 50])

In [61]:
# adding new elements
food1["Tikka"]=110
food1

{'Samosa': 30,
 'Pakora': 100,
 'Kabab': 150,
 'Raita': 80,
 'Salad': 50,
 'Chicken Roll': 50,
 'Tikka': 110}

In [62]:
# updating price of element
food1["Tikka"]=100
food1

{'Samosa': 30,
 'Pakora': 100,
 'Kabab': 150,
 'Raita': 80,
 'Salad': 50,
 'Chicken Roll': 50,
 'Tikka': 100}

In [64]:
food2={"dates":20,"chocolote":50,"Sawaya":900,"Chawal":80}
food2

{'dates': 20, 'chocolote': 50, 'Sawaya': 900, 'Chawal': 80}

In [65]:
# adding two dictionary with each others
food1.update(food2)
food1

{'Samosa': 30,
 'Pakora': 100,
 'Kabab': 150,
 'Raita': 80,
 'Salad': 50,
 'Chicken Roll': 50,
 'Tikka': 100,
 'dates': 20,
 'chocolote': 50,
 'Sawaya': 900,
 'Chawal': 80}

## 4- set
- unorder elements and unindexed
- curly braces are used
- no duplicate allowed

In [66]:
s1={1,2.3,5.2,"Aamar","Codanics","Faisalabad"}
s1

{1, 2.3, 5.2, 'Aamar', 'Codanics', 'Faisalabad'}

In [67]:
s1.add("Aamar")
s1

{1, 2.3, 5.2, 'Aamar', 'Codanics', 'Faisalabad'}

In [68]:
s1.add("Nasir")
s1

{1, 2.3, 5.2, 'Aamar', 'Codanics', 'Faisalabad', 'Nasir'}

In [69]:
s1.remove("Nasir")
s1

{1, 2.3, 5.2, 'Aamar', 'Codanics', 'Faisalabad'}