## import numpy library

In [ ]:
import numpy as np

## create arrays using bultin np alias of numpy

In [ ]:
arr_1d =np.array([2,3,4,5,6])
# print one dimenisional arrays store in arr_1d
print(arr_1d)

# now find type of one 1deminsional array

In [5]:
type(arr_1d)

numpy.ndarray

## now dimesnioan of arrays

In [8]:
arr_1d.ndim

1

## two dimensional arrays using np alias

In [9]:
arr_2d= np.array([[1,2,3,4,5],[5,4,3,2,1]])
print(arr_2d)

[[1 2 3 4 5]
 [5 4 3 2 1]]

## find dimension of above 2d arrays

In [11]:
arr_2d.ndim

2

## size of the above 2d arrays

In [14]:
arr_2d.size

10

## shape of 2d arrays

In [15]:
arr_2d.shape

(2, 5)

## now type ,mean data type of arrays

In [16]:
arr_2d.dtype

dtype('int32')

In [17]:
arr_2d

array([[1, 2, 3, 4, 5],
       [5, 4, 3, 2, 1]])

## M_D Arrays

In [20]:
mx_one= np.array(
    [[1,1,1],[1,1,1],[1,1,1]])
print(mx_one)

[[1 1 1]
 [1 1 1]
 [1 1 1]]

## one filled arrays

In [23]:
ones_filled_arr= np.ones( 5)

print(ones_filled_arr)

In [25]:
ones_filled_arr.dtype

dtype('float64')

In [26]:
#one filled customized arrays
ones_fill=np.ones((3,4))
print(ones_fill)

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

In [27]:
mx_1s= np.ones((3,4), dtype=int)
print(mx_1s)

[[1 1 1 1]
 [1 1 1 1]
 [1 1 1 1]]

## Zero filled customized arrays

In [28]:
mx_0s= np.zeros((3,4))
print(mx_0s)

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

In [29]:
mx_0s= np.zeros((3,4), dtype= int)
print(mx_0s)

[[0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]]

## zero filled with label false using numpy library

In [30]:
mx_0s= np.zeros((3,4), dtype= bool)
print(mx_0s)

[[False False False False]
 [False False False False]
 [False False False False]]

## One filled with label true using numpy library

In [32]:
mx_ones= np.ones((3,4), dtype= bool)
print(mx_ones)

[[ True  True  True  True]
 [ True  True  True  True]
 [ True  True  True  True]]

## Special empty string filled 2d arrays

In [34]:
mx_str= np.zeros((3,4), dtype= str)
print(mx_str)

[['' '' '' '']
 ['' '' '' '']
 ['' '' '' '']]

## Special one string filled 2d arrays

In [36]:
mx_str_one= np.ones((3,4), dtype= str)
print(mx_str_one)

[['1' '1' '1' '1']
 ['1' '1' '1' '1']
 ['1' '1' '1' '1']]

In [ ]:
## creating empty matrics

In [37]:
em_mx= np.empty((3,3))
print(em_mx)

[[0.00000000e+000 0.00000000e+000 0.00000000e+000]
 [0.00000000e+000 0.00000000e+000 6.40309077e-321]
 [5.26254956e-312 5.26254956e-312 7.56599807e-307]]

## Other NumPy Function

In [ ]:
import numpy as np

## arange() function in numpy library

In [39]:
#np.arrage(start,end,step)
arr_1dim= np.arange(1,13)
print(arr_1dim)

[ 1  2  3  4  5  6  7  8  9 10 11 12]

In [41]:
even_arr=np.arange(1,13,2)
print(even_arr)

[ 1  3  5  7  9 11]

## linspace() function of numpy array

In [42]:
np.linspace(1,5,4)

array([1.        , 2.33333333, 3.66666667, 5.        ])

## reshape() functiom of numpy array

In [46]:
arr_2dim= arr_1dim.reshape(3,4)
print(arr_2dim)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

## 3d array from two d using reshape function

In [48]:
arr_3dim= arr_1dim.reshape(2,3,2)
print(arr_3dim)

[[[ 1  2]
  [ 3  4]
  [ 5  6]]

 [[ 7  8]
  [ 9 10]
  [11 12]]]

In [49]:
arrayss=np.arange(1,13).reshape(2,6)
print(arrayss)

[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]

## revel() function of numpy library

In [53]:
arrayss.ravel()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

## flatten() function of numpy library

In [52]:
arrayss.flatten()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

## tranpose() function of numpy library

In [54]:
arrayss.transpose()

array([[ 1,  7],
       [ 2,  8],
       [ 3,  9],
       [ 4, 10],
       [ 5, 11],
       [ 6, 12]])

## another ways for transpose

In [56]:
arrayss.T

array([[ 1,  7],
       [ 2,  8],
       [ 3,  9],
       [ 4, 10],
       [ 5, 11],
       [ 6, 12]])

# Some mathematical function define in numpy library

In [61]:
arra1 =np.arange(1,10).reshape(3,3)
arra2= np.arange(1,10).reshape(3,3)
print(arra1)
print(arra2)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[1 2 3]
 [4 5 6]
 [7 8 9]]

## addition operator element by element

In [63]:
arra1 + arra2

array([[ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18]])

In [64]:
np.add(arra1,arra2)

array([[ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18]])

# also substration operator`

In [65]:
arra1 - arra2

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

# builtin function for it

In [66]:
np.subtract(arra1,arra2)

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

## for multiplication element by element using * Operator

In [67]:
arra1 * arra2

array([[ 1,  4,  9],
       [16, 25, 36],
       [49, 64, 81]])

## using builtin function

In [68]:
np.multiply(arra1,arra2)

array([[ 1,  4,  9],
       [16, 25, 36],
       [49, 64, 81]])

## division operator / element by element

In [70]:
arra1 / arra2

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

## using builtin function

In [71]:
np.divide(arra1,arra2)

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

## treating as an image,matrix rule first row first coloum follow

In [73]:
arra1 @ arra2b

array([[ 30,  36,  42],
       [ 66,  81,  96],
       [102, 126, 150]])